{% extends 'base.html' %}
{% block conteudo %}
<main>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <form>
            <h3 class="h3Geral">Adição de produto</h3>
            <div class="form-group">
                <label class="form-label">Nome do produto</label>
                <input type="text" class="form-control" placeholder="Insira o nome do produto" required>
            </div>
            <div class="form-group">
                <label class="form-label">Gênero do produto</label>
                <input type="text" class="form-control" placeholder="Insira o nome do produto" required>
            </div>
            <div>
                <label class="form-label">Sinopse do produto</label>
                <textarea class="form-control" rows="3" placeholder="Insira a sinopse do produto" required></textarea>
            </div>
            <div>
                <input class="btn btn-success" type="submit" value="Adicionar">
            </div>
        </form>
        </div>
    </div>

</main>

{% endblock conteudo %}