<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar produto</title>
</head>
<body>
    <header class="headerLoja">
        <div>
            <img src="" alt="icone de login" title="icone de login">
            <a href="login">Login</a><p>ou</p><a href="cadastro">Sign Up</a>
        </div>
        <img src="/img/logo_site.jpeg" alt="logo tipo da geekshelf" title="logotipo do site">
    </header>
    <main>
        <form id="formCadastro">
            <h3 class="h3Geral">Adição de produto</h3>
            <div class="divForm">
                <label>Nome do produto</label>
                <input type="text" required>
            </div>
            <div class="divForm">
                <label>Gênero do produto</label>
                <input type="email" required>
            </div>
            <div class="divForm">
                <label>Senha</label>
                <input type="text"  required>
            </div>
            <div>
                <label>Sinopse do produto</label>
                <textarea cols="50" rows="10" required></textarea>
            </div>
            <input class="btnForm" type="submit" value="Finalizar">
        </form>
    </main>
</body>
</html>