{% extends 'base.html' %}
{% block conteudo %}
<main style="align-content: center;">
    <h1>Página de Cadastro</h1>
    <form id="formCadastro" >
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Faça seu Cadastro</h5>
                <div class="divForm">
                    <label>Nome</label>
                    <input type="text" class="form-control" placeholder="Insira seu Nome" required>
                </div>
                <div class="divForm">
                    <label>E-mail</label>
                    <input type="email" class="form-control" placeholder="Insira seu E-mail" required>
                </div>
                <div class="divForm">
                    <label>Senha</label>
                    <input type="password" class="form-control" placeholder="Insira sua Senha" required>
                </div>
                <div class="divForm">
                    <label>Confirme sua Senha</label>
                    <input type="password" class="form-control" placeholder="Confirme sua Senha" required>
                </div>
                <div>
                    <input class="btn btn-success" type="submit" value="Finalizar">
                </div>
            </div>
        </div>
    </form>
</main>
{% endblock conteudo %}