{% extends 'base.html' %}
{% block conteudo %}
<main style="align-content: center;">
    <form id="formCadastro" method="POST" action="/cadastro">
        <div class="card" style="width: 20rem;">
            <div class="card-body">
                <h5 class="card-title">Faça seu Cadastro</h5>
                <div class="divForm">
                    <label>Nome</label>
                    <input type="text" class="form-control" name="nome" placeholder="Insira seu Nome" required>
                </div>
                <div class="divForm">
                    <label>E-mail</label>
                    <input type="email" class="form-control" name="email" placeholder="Insira seu E-mail" required>
                </div>
                <div class="divForm">
                    <label>Senha</label>
                    <input type="password" class="form-control" name="senha" placeholder="Insira sua Senha" required>
                </div>
                <div class="divForm">
                    <label>Confirme sua Senha</label>
                    <input type="password" class="form-control" name="confirmar_senha" placeholder="Confirme sua Senha" required>
                </div>
                {% with errors = get_flashed_messages(category_filter=["error"]) %}
                    {% if errors %}
                        {% for msg in errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ msg }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <div>
                    <input class="btn btn-success" type="submit" value="Finalizar">
                </div>
            </div>
        </div>
    </form>
</main>
{% endblock conteudo %}