<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <main>
        <header class="headerLoja">
            <div>
                <img src="" alt="icone de login" title="icone de login">
                <a href="login">Login</a><p>ou</p><a href="cadastro">Sign Up</a>
            </div>
            <img src="/img/logo_site.jpeg" alt="logo tipo da geekshelf" title="logotipo do site">
        </header>
        <h1>Página de Cadastro</h1>
        <form id="formCadastro">
            <h3 class="h3Geral">Faça seu cadastro</h3>
            <div class="divForm">
                <label>Nome</label>
                <input type="text" required>
            </div>
            <div class="divForm">
                <label>Email</label>
                <input type="email" required>
            </div>
            <div class="divForm">
                <label>Senha</label>
                <input type="password" required>
            </div>
            <div class="divForm">
                <label>Confirme sua Senha</label>
                <input type="password" required>
            </div>
            <div>
                <input type="checkbox" required/>
                <label for="scales">Estou de acordo com as condições de cadastro</label>
            </div>
            <input class="btnForm" type="submit" value="Finalizar">
        </form>
    </main>
</body>
</html>