{% extends 'base.html' %}
{% block conteudo %}
<h1>Página Inicial do Geekshelf</h1>
<main>
    <p>Aqui ficaram os cards quando forem encontrados</p>
    {% for produto in produtos %}
    <div class="card" style="width: 18rem;">
        <img src="data:image/jpeg;base64,{{ produto.imagem }}" class="card-img-top" alt="Imagem do produto">
        <div class="card-body">
          <h5 class="card-title">{{ produto.titulo }}</h5>
          <p class="card-text">{{ produto.autor }} - {{ produto.genero }}</p>
          <a href="#" class="btn btn-primary">Detalhes</a>
        </div>
    </div>
    {% endfor %}
</main>
{% endblock conteudo %}