<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Página de login</h1>
    <main>
        <header class="headerLoja">
            <div>
                <img src="" alt="icone de login" title="icone de login">
                <a href="login">Login</a><p>ou</p><a href="cadastro">Sign Up</a>
            </div>
            <img src="/img/logo_site.jpeg" alt="logo tipo da geekshelf" title="logotipo do site">
        </header>
        <form id="formLogin">
            <h3 class="h3Geral">Faça seu login</h3>
            <div class="divForm">
                <label>Email</label>
                <input type="email" required>
            </div>
            <div class="divForm">
                <label>Senha</label>
                <input type="password" required>
            </div>
            <div>
                <input class="btnForm" type="submit" value="Logar">
            </div>
            <a href="cadastro">Ainda não é cadastrado? Clique aqui</a>
        </form>
    </main>
</body>
</html>