{% extends 'base.html' %}
{% block conteudo %}
<main>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{ produto.imagem }}" class="img-fluid rounded-start" alt="{{ produto.titulo }}">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ produto.titulo }}</h5>
              <p class="card-text"><small class="text-muted">Autor - {{ produto.autor }}</small></p>
              <p class="card-text">{{ produto.sinopse }}</p>
              <p class="card-text"><small class="text-muted">{{ produto.genero }}</small></p>
              {% if esta_na_biblioteca %}
                <form id="formAdicionar" method="POST" action="{{ url_for('adicionar_a_biblioteca', produto_id=produto.id) }}">
                  <div>
                      <input class="btn btn-success" type="submit" value="Adicionar a Biblioteca">
                  </div>
                </form>
              {% else %}
                <form id="formRemover" method="POST" action="{{ url_for('remover_da_biblioteca', produto_id=produto.id) }}">
                  <div>
                      <input class="btn btn-success" type="submit" value="Remover da Biblioteca">
                  </div>
                </form>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
</main>
{% endblock conteudo %}