<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exibição de produto</title>
</head>
<body>
    <header class="headerLoja">
        <div>
            <img src="" alt="icone de login" title="icone de login">
            <a href="login">Login</a><p>ou</p><a href="cadastro">Sign Up</a>
        </div>
        <img src="/img/logo_site.jpeg" alt="logo tipo da geekshelf" title="logotipo do site">
    </header>
</body>
</html>